{% extends "layout.html" %}
{% block content %}

    <article class="media content-section">
        <div class="col-md-20">
            <div class="row text-center">
                <div class="col-12">
                    <img src="{{ url_for('static', filename='profile_pics/pratik.jpg')}}" class="img-thumbnai" height="350" alt="">
                </div>
            </div>
            <br><h6>F.R.I.E.N.D.S Blog is an online blog where you can post your daily updates and share all your
            exciting moments with your friends.</h6>
            <h6>Just Create your own account and find new friends online. </h6>
        <br>

        <p>Created by - Pratik Munot (pmunot11@gmail.com)</p>
            </div>

<!--        <h5>fgh</h5>-->
    </article>

    <p>F.R.I.E.N.D.S Blog (v1.0)</p>
{% endblock content %}